.content {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.colorPresets {
  margin: 0 auto;
  grid-gap: 12px;
}

.tabs {
  display: flex;
  width: 100%;
}

.tab {
  border: 1px solid #f64270;
  border-radius: 0;
  flex: 1;
  padding: 8px;
  border-right-width: 0;

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
  }

  &.tabActive {
    background: #f64270;
    color: #24324b;
  }
}
